{% extends 'base.html' %}
{% block navigation %}
  {% with navigationData=navigationData %}
    {% include 'empty.html' if nonav else 'navigation.html' %}
  {% endwith %}
{% endblock %}


{% block content %}
<form method="post">
{% for key, item in buttons.items() %} 
  {% if loop.first %} 
    {% if not item.group == '' %} 
      <div class="btn-group btn-group-sm border" role="group">
    {% endif %}
  {% endif %}
  {% if not loop.first %} 
    {% if not item.group == '' %} 
      {% if not item.group == loop.previtem.1.group %} 
        <div class="btn-group btn-group-sm border" role="group">
      {% endif %}
    {% endif %}
  {% endif %}
  <button type="submit" 
    class="btn btn-sm {{ item.getStateClass() }}" 
    name="execute" 
    action="{{ url_for(request.endpoint) }}" 
    value="{{ key + '.' + item.group + '.' + item.name + '.' + item.execute }}" {{ 'disabled' if not item.execute }}>
    {% if item.name == 'icon' %}
      <img src="{{ item.getIconPath() }}" alt="{{ item.icon }}" class="material-symbols-outlined filter-white">
    {% else %}
      {{ item.name }}
    {% endif %}
  </button>

  {% if loop.last %} 
    {% if not item.group == '' %} 
        </div>
    {% endif %}
  {% endif %}
  {% if not loop.last %} 
    {% if not loop.first %} 
      {% if not item.group == loop.nextitem.1.group %} 
          </div>
      {% endif %}
    {% endif %}
  {% endif %}
{% endfor %}
</form>
<button class="btn btn-primary btn btn-sm" onclick="location.reload(true)">refresh</button>
{% endblock %}