{% extends 'base.html' %}

{% block navigation %}
    {% with navigationData=navigationData %}
        {% include 'navigation.html' %} 
    {% endwith %}
{% endblock %}

{% block content %}
<h1>{% block title %} Status {% endblock %}</h1>
<p>this should list current status of things, like which apps are running, which extensions are enabled and which presets are set</p>
{% for type, obj in appstatus.items() %}
    <h2>{{ type }}</h2>
    <ul>    
        {% for statustype, status in obj.__dict__.items() %}
            <li> {{ statustype }}: {{ status }}</li>
        {% endfor %}
    </ul>
{% endfor %}
{% endblock %}